---
---
@import "default";
 
// HEADER

.header {
  background: url('{{ site.baseurl }}/assets/images/sweden-146.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 60vh;
//  margin-top: -100px;
  margin-bottom: 40px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  h1 {
    padding-top: 100px;
    padding-bottom: 0px;
    font-family: $title-font;
    font-weight: bold;
    font-size: 44pt;
    color: white;
    text-align: center;
    line-height: 40pt;
    text-align: center;
  }
}

// MAIN TEXT

.container {
  margin: 0 auto;
  width: 80%;
  h1 {
    font-family: $title-font;
    font-weight: bold;
    font-size: 44pt;
    color: $black !important;
    text-align: center;
    line-height: 40pt;
    padding-top: 45px;
    padding-bottom: 35px;
    margin: auto;
    text-align: center;

  }
  h2 {
    font-family: $title-font;
    font-weight: 100;
    color: $black !important;
    line-height: -20px ;
    font-size: 44px;
    text-align: left;
    margin-top: 10px;
  }
  p {
    font-size: 16pt;
    font-family: 'Avenir', sans-serif;
    margin: 0 auto;
    padding-bottom: 15px;
    line-height: 26pt;
    .italic {
      font-style: italic;
    }
  }

  .important {
    font-size: 18pt;
    font-family: 'Avenir', sans-serif;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
  }

  .link-list {
    font-size: 16pt;
    font-family: 'Avenir', sans-serif;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  .link-to-next {
    font-weight:bold;
    text-align:center;
    padding-top: 15px;
    padding-bottom: 50px;
  }
}


// IMAGES

.image-template {
  width: 90%;
  margin: auto;
  padding: 15px;
}

img {
  height:100%;
  width:100%;
}

// SUBSCRIBE SECTION

.email-container {
  width: 100%;
  background: #fff;
  margin: auto;
  margin-bottom: 40px;


.email-full {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 34px;
}

p {
  margin: 20px;
  font-family: 'Avenir', sans-serif;
  font-weight: 100;
  color: #777 !important;
  font-size: 14pt;
  line-height: 24pt;
}

.start {
  font-family: 'COUTUREBold', sans-serif !important;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  padding: 2px 20px 0 20px;
  display: table-cell;
  vertical-align: middle !important;
  border-radius: 0;
  text-align: center;
  background-color: #626262 !important;
  color: white !important;
  border: none;
  outline: none;
  height: 40px;

  &:hover {
    background-color: #515151 !important;
    outline: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  &:focus {
    color: #515151 !important;
    border: none;
    outline: none;
      }
}

button,  input,  textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ajax-form { width: 100%; }
.ajax-form input {
  padding: 20px;
  color: #575757;
  background: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  height: 40px;
  margin-bottom: 20px;
  width: 100%;
}
.ajax-form input:focus,
.ajax-form textarea:focus {
  border: 1px solid #ccc;
  background-color: #fff;
}

.error { border: 3px solid #ED1941 !important; }

.form-thank-you {
  	display: none;
  	width: 100%;
  	text-align: center;
}

.form-thank-you h3 { padding-top: 15px; }

@media (max-width: 577px) {
  .name, .email {
  	width: 100%;
  	float: none;
  }
}

.container-fluid {
    margin: 30px 10px 20px 10px;
  }
}

.name, .email { width: 90%; }
