---
---
@import "bootstrap";

/// Website standards //

// Fonts
  $body-font: 'Martel', serif;
  $title-font: 'Roboto', sans-serif;
  $title2-font: 'Couture', sans-serif;

// Colors
  $body-color: #959595;
  $black: #4c4c4c;
  $button2-color: #8d8d8d;
  $form-color: #dcdcdc;


// About Page CSS
.about-cover {
  background: url('{{ site.baseurl}}/assets/images/1.jpg') no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 300px;
  box-shadow: 0px 0px 60px #6d6d6d;
  margin-top: -100px;
}
.about-title h1 {
  font-family: $title2-font;
  color: $body-color;
  font-size: 44px;
  line-height: 15pt;
  padding-top: 45px;
  padding-bottom: 35px;
  width: 70%;
  margin: auto;
  text-align: center;
}
.me {
  width:400px;
  height:400px;
  margin-bottom:100px;
  }
p {
  font-size: 16pt;
  font-family:$body-font;
  margin: 0 auto;
}
// Contact Page CSS
.contact-cover {
  background: url('{{ site.baseurl}}/assets/images/1.jpg') no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 300px;
  box-shadow: 0px 0px 60px #6d6d6d;
  margin-top: -100px;
}
.contact-title h1 {
  font-family: $title2-font;
  color: $body-color;
  font-size: 44px;
  line-height: 15pt;
  padding-top: 45px;
  padding-bottom: 35px;
  width: 70%;
  margin: auto;
  text-align: center;
}
