<<<<<<< HEAD

=======
>>>>>>> 89812a676f0038eb25db5122dede89c04d8c068b
// Website-wide defaults
@import "bootstrap";

// Fonts
  $body-font: 'Martel', serif;
  $title-font: 'Roboto', sans-serif;
  $title2-font: 'Couture', sans-serif;

// Colors
  $body-color: #959595;
  $black: #4c4c4c;
  $button2-color: #8d8d8d;
  $form-color: #dcdcdc;
