// Website-wide defaults
@import "bootstrap";
@import "navbar";
@import "footer";
@import "font-awesome";

@font-face {
  font-family: Vendetta;
  src: url('/assets/fonts/vendetta.otf');
}

@font-face {
  font-family: Venetian;
  src: url('/assets/fonts/venetian.otf');
}

@font-face {
  font-family: Couture;
  src: url('/assets/fonts/couture-bld.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('/assets/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: Martel;
  src: url('/assets/fonts/Martel-Regular.ttf');
}




// Fonts
  $body-font: 'Martel', serif;
  $title-font: 'Roboto', sans-serif;
  $title2-font: 'Couture', sans-serif;

// Colors
  $body-color: #959595;
  $black: #4c4c4c;
  $button2-color: #8d8d8d;
  $form-color: #dcdcdc;
