---
---

@import "bootstrap";

  $black: #4c4c4c;
  $button2-color: #8d8d8d;

.footer {
  width: 100%;
  background-color: #282828;
  height: 240px;
  color: #fff !important;
  padding: 30px;
  overflow: hidden;
}

.footer h3 {
  font-face: "Roboto", sans-serif !important;
  font-size: 20pt;
}
.fa {
  color: #fff;
  padding-right: 15px;
  float: left;
}


.footer input[type="text"] {
    width: 250px;
    height: 36px;
    padding: 5px 30px 5px 8px;
    font-size: 12pt;
    background: #fff;
    color: $black;
    border: 0;
    border-radius: 5px;
    overflow: auto;
    float:right;
&:focus {
  background: #ededed;
  outline: none;
}

}

.footer button[type="submit"] {
    margin-left: 10px;
    height: 36px;
    width: 36px;
    background: transparent;
    color: white;
    vertical-align: center;
    text-align: center;
    border: 0 !important;
    //-webkit-appearance: none;
}
.copyright  {
  text-align: center;
  padding-top: 50px;
  margin: auto;

}

.copyright p {
    font-size: 10pt;
    font-family: 'Martel', serif !important;
    color: #c6c6c6 !important;
}
.col-sm-6.col-sm-4.col-sm-2 {

  padding: 0;
}

.row {
  padding: 0px !important;
}
