---
---
@import "bootstrap";
@import url("font-awesome-4.7.0");

// Fonts
  $body-font: 'Martel', serif;
  $title-font: 'Roboto', sans-serif;
  $title2-font: 'Roboto', bold, sans-serif;

// Colors
  $body-color: #959595;
  $black: #4c4c4c;
  $button2-color: #8d8d8d;
  $form-color: #dcdcdc;


// HEADER STYLES

.header {
background: url('{{ site.baseurl }}/assets/images/1.jpg') no-repeat center bottom;
-webkit-background-size: cover;
-moz-background-size: cover;
height: 900px;
margin-top: -100px;
overflow: auto;
}
.title {
  width: 100%;
  margin-top: 600px;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 180px;
  padding-left: 260px;
  padding-top: 30px;
position: relative;
}
.titlecontent {
  position: absolute;
  bottom: 5px;
  text-align: center;
  h1 {
    font-family: $title-font;
    text-transform: uppercase;
    font-size: 64pt;
    font-weight: 100;
    letter-spacing: normal;
    color: white !important;
    text-align: left;
    line-height: 35px;
  }
  h2 {
    font-family: $body-font;
    font-size: 18pt;
    color: rgba(255,255,255,0.7);
    text-align: left;
    letter-spacing: 0px;
    font-style: italic;
    padding-left: 10px;
  }
}


//  START / SUBSCRIBE ROW
.start-here {
  text-align: center;
  margin: auto;
  width: 75%;

  p {
  font-family: $body-font;
  font-size: 22pt;
  font-style: italic;
  color: $body-color;
  padding: 20px;
  }

  .start {
    font-family: 'Couture', sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 15px 25px 15px 25px;
    border-radius: 8px;
    text-align: center;
    background-color: $black !important;
    color: rgba(255,255,255,0.8) !important;
    border: none;
    margin-right: 30px;
    &:hover {
      background-color: #fff;
    }
  }
  .btn {
    background-color: $black !important;
    border: none;
    margin-right: 30px;
  }


  form {
    margin-left:50px;
  }
  input[type="text"] {
    font-size: 14pt;
    font-family: $body-font;
    width:500px;
    height: 52px;
    padding: 5px 100px 5px 8px;
    background: $form-color;
    border: 0;
    border-radius: 8px;
    overflow: auto;
    margin-left: 50px;
    margin-bottom: 20px;
  &:focus {
    background: #cecece;
    outline: none;
  }

  }

  button[type="submit"] {
      margin-left: -120px;
      margin-top: -5px;
      height: 52px;
      width: 120px;
      background: $button2-color;
      color: white;
      font-size: 16px;
      line-height: 20px;
      padding: 11px;
      border: 0;
      border-radius: 0px 8px 8px 0px;
      font-family: 'Couture', sans-serif;
      vertical-align: center;
      text-align: center;
  }
}

// TOP ARTICLES SLIDER

h1 {
  font-family: $title-font;
  font-weight: bold;
  font-size: 30pt;
  color: $black !important;
  text-align: center;
}


// WORK






// FROM THE BLOG
.wander-body {
  text-align: center;
  margin: auto;
  width: 75%;
}

.wander-article {
  padding-bottom:40px;
  opacity:0.9;
  &:hover {
    opacity:1;
  }
}

a {
  display: block;
 &:hover {
   text-decoration: none !important;
 }
}

.wander-image2 {
  overflow:hidden;
  width:100%;
  height:600px;
}

.wander-blurb > h2 {
  font-family: $title-font;
  font-weight: 100;
  color: $black !important;
  line-height: -20px ;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.wander-blurb > h3 {
  font-family: $body-font;
  font-weight: 100;
  color: $black !important;
  line-height: -20px;
  font-size: 24px;
  text-align: center;
  padding-top: 0px;
  margin-top: 5px;
}

.wander-blurb > p {
  font-family: $body-font;
  font-weight: 100;
  color: $black !important;
  line-height: -20px;
  font-size: 18px;
  text-align: center;
  padding-bottom: 30px;
}

ul {
  list-style-type: none;
}
