---
---

@import "default";


body {
  background: rgb(230,230,230); /* Old browsers */
background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  background-attachment: fixed;
}

// HEADER STYLES
.header {
background: url('{{ site.baseurl }}/assets/images/home_header.jpg') no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
height: calc(100vh + 100px);
margin-top: -100px;
overflow: auto;
display: flex;
align-items: center;
justify-content: center;
}

.logo {
  margin-top: 100px;
  img {
    width: 200px;
    height: auto;
  }
  text-align: center;

  h1 {
    font-family: 'Vendetta', sans-serif;
    font-size: 75px;
    font-weight: thin;
    color: white !important;
    text-transform: none !important;
    margin-bottom: -40px;

  }

  h2 {
    font-family: 'Martel', serif;
    font-size: 20px;
    color: white;
    line-height: 10px;
  }

  h3 {
    font-family: 'Vendetta', sans-serif;
    font-size: 30px;
    opacity: 0.8;
    letter-spacing: 2px;
    color: white !important;
    line-height: 5px;
  }

}



//  START / SUBSCRIBE ROW


.getstarted {
  font-family: 'Couture', sans-serif !important;
  font-weight: 900;
  text-transform: uppercase;
  // letter-spacing: 1px;
  font-size: 16px;
  line-height: 5px;
  padding: 4px 20px 0 20px;
  display: table-cell;
  vertical-align: middle !important;
  border-radius: 0;
  text-align: center;
  background: transparent !important;
  color: #fff !important;
  border: 4px solid #fff;
  outline: none;
   height: 46px;
  &:hover {
    color: #999999 !important;
    border: 4px solid #999999;
    outline: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  &:focus {
    color: #ddd !important;
    border: 4px solid #ddd;
    outline: none;
      }


}


  .start {
    font-family: 'COUTUREBold', sans-serif !important;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    padding: 2px 20px 0 20px;
    display: table-cell;
    vertical-align: middle !important;
    border-radius: 0;
    text-align: center;
    background-color: #626262 !important;
    color: white !important;
    border: none;
    outline: none;
     height: 40px;
    &:hover {
      background-color: #515151 !important;
      outline: none;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    &:focus {
      color: #515151 !important;
      border: none;
      outline: none;
        }


  }





.content {
  width: 90%;
  margin: 0 auto;
}


// H1 MAIN PAGE

h1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: -2px;
  font-size: 35pt;
  text-transform: uppercase;
  color: $black !important;
  text-align: center;
  padding: 50px 0 30px 0;
}

// TOP ARTICLES

.top {
  margin-bottom: 40px;

  .col-sm-4 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;

    img {
      position: absolute;
      height: 100%;
      width: auto;
      min-width: 100%;
    }

    .overlay {
      background-color: rgba(37,37,37,0.2);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &:hover {
        background-color: rgba(37,37,37,1);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
  }

    .caption {
      width: 80%;
      text-align: center;
      margin: auto;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;


    .maincaption {
    width: 100%;
    h1 {
      padding: 0;
      margin: 0;
      color: #fff !important;
      font-family: 'Couture', sans-serif;
      letter-spacing: 0px;
      font-weight: 900;
      font-size: 24pt;
    }
    }

    .subcaption {
    width: 100%;


    h2 {
      font-family: 'Avenir', sans-serif;
      color: #fff;
      font-size: 16pt;
    }
    }
    }
  }
}


// WORK

.work {
margin: 0 auto;

.container {
  width: 90%;
}

.thumbnail {
    padding: 0;
    border: 0 !important;
    border-radius: 0 !important;
    text-align: center;
    overflow: hidden;

    &:hover {
      -webkit-transform: scale(1.02);
          -ms-transform: scale(1.02);
              transform: scale(1.02);
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      text-decoration: none !important;
    }


    h4 {
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $body-color;
      font-size: 12pt;
    }

    p {
      font-family: 'Avenir', sans-serif;
      color: $black;
      font-size: 15pt;
      margin: 20px 10px 20px 10px;
    }


      .image {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        .overlay {
        // background-color: rgba(37,37,37,0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;



        }



      .caption {
        width: 100%;
        position: absolute;
      }


      h1 {
        padding: 0;
        margin: 0;
        color: #fff !important;
        font-family: 'Venetian', sans-serif;
        letter-spacing: 0px;
        font-weight: 900;
        font-size: 45pt;
        text-transform: none;
      }
      }
    }




.col-xs-18 .col-sm-6 .col-md-6 {
  border: 0 !important;
  border-radius: 0 !important;
  text-align: center;



}
}



// FROM THE BLOG


.wander {
  margin: 0 auto;

 .container {
   width: 95%;
   padding: 0;
 }

 .featured {
   margin: 0 auto;
   .thumbnail {
     padding: 0;
     border: 0 !important;
     border-radius: 0 !important;
     text-align: center;
     overflow: hidden;
     width: 100%;
     position: relative;
   }
.image {
  height: 50vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
   img {
     width: 100%;
   }


   .col-md-12 {
     border: 0 !important;
     border-radius: 0 !important;
     text-align: center;
   }
 }

.thumbnail {
  padding: 0;
  border: 0 !important;
  border-radius: 0 !important;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}


.article-blurb {
  margin: 0;
  padding: 4px;

  h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 100;
    color: $black;
    // font-size: 28pt;
    // line-height: 29px;
    }
  h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: $body-color !important;
    line-height: -10px;
    font-size: 12pt;
    text-align: center;
    padding-top: 0px;
    margin-top: 5px;
  }
  p {
    font-family: 'Avenir', sans-serif;
    color: $black;
    font-size: 15pt;
    margin: 0px 10px 20px 10px;
  }
}

.col-sm-4 {
  border: 0 !important;
  border-radius: 0 !important;
  text-align: center;


}
  .row {
  overflow: hidden;
  margin-bottom: 30px;
  margin: 0 auto;
}




}

// EMAIL

.email-full {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  }
/* Normalize & Reset */

body {
    // font-family: Helvetica, Arial, sans-serif;
    // line-height: 1.5;
    color: #777;
    // font-size: 18px;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

button,
input,
textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Form Styles */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;

}
.ajax-form { width: 60%;

}
.ajax-form input,
.ajax-form textarea {
  	padding: 20px;
  	border: 0;
    background: #eee;
    border: none;
    outline: none;
    font-family: 'Avenir', sans-serif;

    height: 40px;
}
.ajax-form input:focus,
.ajax-form textarea:focus {
  	background: #ddd;
    outline: none;
}

.ajax-form input[type="submit"] {
    border: 3px solid #4c4c4c;
	  color: #fff;
    padding: 20px;
    background-color: #4c4c4c;

}

.ajax-form input[type="submit"]:hover {
  	background-color: #4c4c4c;
    border: 3px solid #4c4c4c;
    color: white;
}


.name, .email { width: 90%; }

// .name { float: left; }
// .email { float: right }

.message {
  width: 100%;

}

.form-btn {
  text-align: center;
  padding: 10px;
}

.error { border: 3px solid #ED1941 !important; }

.form-thank-you {
  	display: none;
  	width: 100%;
  	text-align: center;
}

.form-thank-you h3 { padding-top: 15px; }

@media (max-width: 577px) {
  .name, .email {
  	width: 100%;
  	float: none;
  }
}

.email-container {
  font-family: 'Martel', serif;
  font-size: 15pt;
  width: 100%;
  background: white;
  margin: auto;
  text-align: center;



  h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: bold;


  }

  p {
    margin: 20px;
  }

  .container-fluid {
    margin: 30px 10px 20px 10px;
  }
}
