---
---
@import "bootstrap";
@import url("font-awesome-4.7.0");

// Fonts
  $body-font: 'Martel', serif;
  $title-font: 'Roboto', sans-serif;
  $title2-font: 'Roboto', bold, sans-serif;

// Colors
  $body-color: #959595;
  $black: #4c4c4c;
  $button2-color: #8d8d8d;
  $form-color: #dcdcdc;


// HEADER STYLES

.header {
background: url('{{ site.baseurl }}/assets/images/1.jpg') no-repeat center bottom;
-webkit-background-size: cover;
-moz-background-size: cover;
height: 900px;
margin-top: -100px;
overflow: auto;
}
.title {
  width: 100%;
  margin-top: 600px;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 180px;
  padding-left: 260px;
  padding-top: 30px;
position: relative;
}
.titlecontent {
  position: absolute;
  bottom: 5px;
  text-align: center;
  h1 {
    font-family: $title-font;
    text-transform: uppercase;
    font-size: 64pt;
    font-weight: 100;
    letter-spacing: normal;
    color: white !important;
    text-align: left;
    line-height: 35px;
  }
  h2 {
    font-family: $body-font;
    font-size: 18pt;
    color: rgba(255,255,255,0.7);
    text-align: left;
    letter-spacing: 0px;
    font-style: italic;
    padding-left: 10px;
  }
}


//  START / SUBSCRIBE ROW
.start-here {

  text-align: center !important;
  margin: auto;
  width: 100%;
  padding-bottom: 20px;
  background-color: #f2f2f2;

  p {
  font-family: $body-font;
  font-size: 18pt;
  font-style: italic;
  color: $body-color;
  padding-bottom: 20px;
  padding-top: 30px;
  width: 75%;
  text-align: center;
  }
}
.startherebtn {
  width: 100%;
  margin: 10px 10px 30px 10px;
  height: 52px;
  padding: 0;
  text-align: center;
  display: flex !important;
align-items: center !important;
justify-content: center !important;
}


  .start {
    font-family: 'Couture', sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 15px 25px 15px 25px;
    border-radius: 8px;
    text-align: center;
    background-color: $black !important;
    color: white !important;
    border: none;
    margin-right: 30px;
    float: left;
    &:hover {
      background-color: #fff;
    }
  }

  .btn {
    background-color: $black !important;
    border: none;
  }

  button {
    display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  }

.subscribeform {
  text-align: center;
  margin: 10px auto;
  height: 52px;
  padding: 0;

  form {

    display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  }
}
  input[type="text"] {

    font-size: 14pt;
    font-family: $body-font;
    width:500px;
    height: 52px;
    padding: 5px 8px 5px 8px;
    background: $form-color;
    border: 0;
    border-radius: 8px;
    overflow: auto;
  &:focus {
    background: #cecece;
    outline: none;
  }

  }




.ajax-form { width: 100%; }
.ajax-form input,
.ajax-form textarea {
    float: left;
  	padding: 20px;
  	border: 3px solid #ccc;
  	border-radius: 6px;
  	margin: 0 0 27px;
    background: white;
    outline: none;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.ajax-form input:focus,
.ajax-form textarea:focus {
  	border: 3px solid #4c4c4c;
    color: #f7f7f7;
}

.ajax-form input[type="submit"] {
    border: 3px solid #999999;
	color: #999999;
  background-color: #d1d1d1;
  height: 50px;
  font-family: 'Couture', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 8px;
  margin-left: 20px;
}

.ajax-form input[type="submit"]:hover {
  	background-color: #999999;
    border: 3px solid #999999;
    color: white;

}

.name, .email { width: 48%; }

.name { float: left; }
.email { float: right }

.message {
  width: 100%;
}

// .form-btn { text-align: center; }

.error { border: 3px solid #ED1941 !important; }

.form-thank-you {
  	display: none;
  	width: 100%;
  	text-align: center;
}

.form-thank-you h3 { padding-top: 15px; }

@media (max-width: 577px) {
  .name, .email {
  	width: 100%;
  	float: none;
  }
}
// TOP ARTICLES SLIDER

h1 {
  font-family: $title-font;
  font-weight: bold;
  font-size: 44pt;
  color: $black !important;
  text-align: center;
  padding-top: 20px;
}


// WORK






// FROM THE BLOG
.wander-body {
  text-align: center;
  margin: auto;
  width: 75%;
}

.wander-article {
  padding-bottom:40px;
  opacity:0.9;
  &:hover {
    opacity:1;
  }
}

a {
  display: block;
 &:hover {
   text-decoration: none !important;
 }
}

.wander-image2 {
  overflow:hidden;
  width:100%;
  height:600px;
}

.wander-blurb > h2 {
  font-family: $title-font;
  font-weight: 100;
  color: $black !important;
  line-height: -20px ;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.wander-blurb > h3 {
  font-family: $body-font;
  font-weight: 100;
  color: $black !important;
  line-height: -20px;
  font-size: 24px;
  text-align: center;
  padding-top: 0px;
  margin-top: 5px;
}

.wander-blurb > p {
  font-family: $body-font;
  font-weight: 100;
  color: $black !important;
  line-height: -20px;
  font-size: 18px;
  text-align: center;
  padding-bottom: 30px;
}

ul {
  list-style-type: none;
}
