---
---
@import "default";
@import url("font-awesome-4.7.0");

@font-face {
  font-family: Vendetta;
  src: url('{{ site.baseurl }}/assets/fonts/vendetta.otf');
}


// HEADER STYLES
.header {
background: url('{{ site.baseurl }}/assets/images/titleimg.jpg') no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
height: calc(100vh + 100px);
margin-top: -100px;
overflow: auto;
display: flex;
align-items: center;
justify-content: center;
}

.logo {
  margin-top: 100px;
  img {
    width: 200px;
    height: auto;
  }
  text-align: center;

  h1 {
    font-family: 'Vendetta', sans-serif;
    font-size: 75px;
    font-weight: thin;
    color: white !important;
    text-transform: none !important;
  }

  h2 {
    font-family: 'Martel', serif;
    font-size: 20px;
    color: white;
    line-height: 10px;
  }

  h3 {
    font-family: 'Vendetta', sans-serif;
    font-size: 30px;
    opacity: 0.8;
    letter-spacing: 2px;
    color: white !important;
    line-height: 5px;
  }

}



//  START / SUBSCRIBE ROW


.getstarted {
  font-family: 'COUTUREBold', sans-serif !important;
  font-weight: 900;
  text-transform: uppercase;
  // letter-spacing: 1px;
  font-size: 16px;
  // line-height: 16px;
  padding: 0 20px 0 20px;
  display: table-cell;
  vertical-align: middle !important;
  border-radius: 0;
  text-align: center;
  background: transparent !important;
  color: #fff !important;
  border: 4px solid #fff;
  outline: none;
   height: 46px;
  &:hover {
    color: #ddd !important;
    border: 4px solid #ddd;
    outline: none;
  }
  &:focus {
    color: #ddd !important;
    border: 4px solid #ddd;
    outline: none;
      }


}


  .start {
    font-family: 'COUTUREBold', sans-serif !important;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 20px 0 20px;
    display: table-cell;
    vertical-align: middle !important;
    border-radius: 0;
    text-align: center;
    background-color: #626262 !important;
    color: white !important;
    border: none;
    outline: none;
     height: 40px;
    &:hover {
      background-color: #515151 !important;
      // border: 4px solid #626262;
      outline: none;
    }
    &:focus {
      color: #515151 !important;
      border: none;
      outline: none;
        }


  }





.content {
  width: 80%;
  margin: 0 auto;
}


// H1 MAIN PAGE

h1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-size: 30pt;
  text-transform: uppercase;
  color: $black !important;
  text-align: center;
  padding-top: 20px;
}

// TOP ARTICLES

.top {
  margin: 50px 0 50px 0;

  .col-sm-4 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;

    img {
      position: absolute;
      height: 100%;
      width: auto;
      min-width: 100%;
    }

    .overlay {
      background-color: rgba(90,90,90,0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &:hover {
        opacity: 1;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
  }

    .caption {
      width: 70%;
      text-align: center;
      margin: auto;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;


    .maincaption {
    width: 100%;
    h1 {
      padding: 0;
      margin: 0;
      color: #fff !important;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
    }
    }

    .subcaption {
    width: 100%;


    h2 {
      font-family: 'Martel', serif;
      color: #fff;
      font-size: 16pt;
    }
    }
    }
  }
}


// WORK

.work {
margin: 0 auto;

.col-md-6 {
  height: 50vh;
  padding: 5px !important;
}

.row {
  margin: 10px;
}


.imgimg {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;



  .overlay {
    background-color: rgba(90,90,90,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
      opacity: 1;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
}

  .caption {
    width: 70%;
    text-align: center;
    margin: auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


  .maincaption {
  width: 100%;
  h1 {
    padding: 0;
    margin: 0;
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  }

  .subcaption {
  width: 100%;


  h2 {
    font-family: 'Martel', serif;
    color: #fff;
    font-size: 16pt;
  }
  }
  }
}
}



// FROM THE BLOG


.wander {
  text-align: center;
  margin: auto;
}

ul {
  list-style-type: none;
  padding-left:0;
}

.article {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 40px;
  opacity: 0.9;
  &:hover {
    opacity:1;
  }
}

a {
  display: block;
 &:hover {
   text-decoration: none !important;
 }
}

.article-image {
  overflow: hidden;
  width:100%;
  height: 100%;
  max-height: 600px;
}

.article-blurb {
  h2 {
    font-family: $title-font;
    font-weight: 100;
    color: $black !important;
    line-height: -20px ;
    font-size: 44px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
  }
  h3 {
    font-family: $body-font;
    font-weight: 100;
    color: $black !important;
    line-height: -20px;
    font-size: 24px;
    text-align: center;
    padding-top: 0px;
    margin-top: 5px;
  }
  p {
    font-family: $body-font;
    font-weight: 100;
    color: $black !important;
    line-height: -20px;
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
  }
}

ul {
  list-style-type: none;
  padding-left:0;
}




.email-full {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  }
/* Normalize & Reset */

body {
    // font-family: Helvetica, Arial, sans-serif;
    // line-height: 1.5;
    color: #777;
    // font-size: 18px;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

button,
input,
textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Form Styles */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;

}
.ajax-form { width: 60%;

}
.ajax-form input,
.ajax-form textarea {
  	padding: 20px;
  	border: 0;
    background: #eee;
    border: none;
    outline: none;
    // -webkit-transition: all .25s ease-in-out;
    // -moz-transition: all .25s ease-in-out;
    // -o-transition: all .25s ease-in-out;
    // transition: all .25s ease-in-out;
    height: 40px;
}
.ajax-form input:focus,
.ajax-form textarea:focus {
  	background: #ddd;
    outline: none;
}

.ajax-form input[type="submit"] {
    border: 3px solid #4c4c4c;
	  color: #fff;
    padding: 20px;
    background-color: #4c4c4c;

}

.ajax-form input[type="submit"]:hover {
  	background-color: #4c4c4c;
    border: 3px solid #4c4c4c;
    color: white;
}


.name, .email { width: 90%; }

// .name { float: left; }
// .email { float: right }

.message {
  width: 100%;

}

.form-btn {
  text-align: center;
  padding: 10px;
}

.error { border: 3px solid #ED1941 !important; }

.form-thank-you {
  	display: none;
  	width: 100%;
  	text-align: center;
}

.form-thank-you h3 { padding-top: 15px; }

@media (max-width: 577px) {
  .name, .email {
  	width: 100%;
  	float: none;
  }
}

.email-container {
  font-family: 'Martel', serif;
  font-size: 15pt;
  width: 100%;
  // height: 300px;
  // background: #dddddd;
  margin: auto;
  // border: solid 5px white;
  // outline: solid 5px #eeeeee;
  margin-bottom: 40px;
  text-align: center;



  h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: bold;


  }

  p {
    margin: 20px;
  }

  .container-fluid {
    margin: 30px 10px 20px 10px;
  }
}
