
.navbar-custom {
  font-family: 'Couture', sans-serif !important;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform:  uppercase;
  line-height: 18px;
  padding: 20px 0 20px 0;

}

.navbar-brand {
    font-size: 24px;
    color: #fff;
}
.navbar-brand-centered {
    position: absolute;
    left: calc(50% - 50px);
    display: block;
    width: 100px;
    text-align: center;
    opacity: 0.6;
    margin: 0 !important;
    padding: 0 !important;

}

.navbar-brand-centered.fixed-theme {
    position: absolute;
    left: calc(50% - 50px);
    display: block;
    width: 100px;
    text-align: center;
    opacity: 1;
    margin: 0 !important;
    padding: 0 !important;
}

// .navbar>.container .navbar-brand-centered,
//  .navbar>.container-fluid .navbar-brand-centered {
//      margin-left: -80px;
//  }


.navbar-nav > li > a {
  color: rgba(255,255,255,0.8);
    &:hover {
      color: white;
      font-weight:bold;

    }
}
.navbar-nav > li {
  padding: 0px 30px 0px 30px;
}
ul.nav a {
  &:hover {
   background: rgba(0,0,0,0) !important;
}
}
.navbar-fixed-top .navbar-nav>.active> a,
.navbar-fixed-top .navbar-nav>.active>a:focus,
.navbar-fixed-top .navbar-nav>.active>a:hover {
  background: rgba(0,0,0,0) !important;
  color: rgba(255,255,255,1);

}

.navbar-container {
}



.navbar.navbar-fixed-top.fixed-theme {
    background-color: #272727;
    box-shadow: none;
    padding: 0;

}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {

}

.navbar-brand-centered.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand-centered,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
