---
---
@import "default";
@import url("font-awesome-4.7.0");

  .search-header {
    background: url('{{ site.baseurl}}/assets/images/1.jpg') no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    height: 300px;
    margin-top: -100px;
  }
  .search-title h1 {
        font-family: $title-font;
        font-weight: bold;
        font-size: 44pt;
        color: $black !important;
        text-align: center;
        line-height: 15pt;
        padding-top: 45px;
        padding-bottom: 35px;
        margin: auto;
        text-align: center;
    }


.searcher {
width: 70%;
margin: 0 auto;
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
}


  input[type="text"] {
    font-size: 14pt;
    font-family: $body-font;
    width:500px;
    height: 52px;
    padding: 5px 8px 5px 8px;
    background: $form-color;
    border: 0;
    border-radius: 8px;
    overflow: auto;
  &:focus {
    background: #cecece;
    outline: none;
  }
  }

   button[type="submit"] {
      margin-left: 10px;
      height: 36px;
      width: 36px;
      background: transparent;
      color: black;
      vertical-align: center;
      text-align: center;
      border: 0 !important;
      //-webkit-appearance: none;
  }




#search-results {
  list-style: none;
}
