---
---

@import "default";

// SIDEBAR

.sidebar {
	text-align: center;
	color: #565656;
  font-family: "Avenir", sans-serif;
  font-size: 14pt;
  padding: 40px 10px 10px 10px;

// Youtube Video Section

	.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

  a, a:active {
    color: #b1b1b1;
    text-decoration: none;
  }

  a:hover {
    color: #4391ab;
  }

	img {
		max-width: 100%;
	}
.row {
	padding: 10px !important;
}
	.col-md-6 {
		padding: 5px !important;
	}


h1 {
	font-family: "Roboto", sans-serif;
  font-size: 18pt;
	letter-spacing: 2px;
  text-transform: uppercase;
  color: #686868;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18pt;
	color: #565656;
  // line-height: 30pt;


}

.flag-icon {
   vertical-align: middle;
	 font-size: 40pt;
}

p {
  padding: 10px;
}

hr {
 border: 0;
 padding: 10px;

&:after {
  // font-family: 'PT Serif', serif;
  // font-size: 50px;
	// content: '§';
	// display: inline-block;
	// position: relative;
	// // top: -14px;
	// padding: 0px;
	// background: #f0f0f0;
	// color: #8c8b8b;
	// -webkit-transform: rotate(70deg);
	// -moz-transform: rotate(70deg);
	// transform: rotate(70deg);
  // // margin: 0;
 }
}

#instaside {
	img {
		width: 100%;
		height: 100%;
	}
}
}

// Subscribe
.email-full {
  width: 100%;
  margin: 0 auto;
  }
/* Normalize & Reset */

button,
input,
textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Form Styles */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
	width: 100%;

	.row {
		padding: 0 !important;
		margin: 0 !important;
	}

.container-fluid {
	padding: 0 !important;
	margin: 0 !important;
}

	.start {
    font-family: 'COUTUREBold', sans-serif !important;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    padding: 2px 20px 0 20px;
		margin: 10px;
    display: table-cell;
    vertical-align: middle !important;
    border-radius: 0;
    text-align: center;
    background-color: #626262 !important;
    color: white !important;
    border: none;
    outline: none;
     height: 40px;
    &:hover {
      background-color: #515151 !important;
      outline: none;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    &:focus {
      color: #515151 !important;
      border: none;
      outline: none;
        }


  }






}
.ajax-form { width: 100%;

}
.ajax-form input,
.ajax-form textarea {
  	border: 0;
    background: #fff;
    border: none;
    outline: none;
    font-family: 'Avenir', sans-serif;
    height: 40px;
		padding: 5px;
}
.ajax-form input:focus,
.ajax-form textarea:focus {
  	background: #f4f4f4;
    outline: none;
}

.ajax-form input[type="submit"] {
    border: 3px solid #4c4c4c;
	  color: #fff;
    padding: 20px;
    background-color: #4c4c4c;

}

.ajax-form input[type="submit"]:hover {
  	background-color: #4c4c4c;
    border: 3px solid #4c4c4c;
    color: white;
}


.name, .email { width: 100%; }


.message {
  width: 100%;

}

.form-btn {
  text-align: center;
  padding: 10px;
}

.error { border: 3px solid #ED1941 !important; }

.form-thank-you {
  	display: none;
  	width: 100%;
  	text-align: center;
}

.form-thank-you h3 { padding-top: 15px; }

@media (max-width: 577px) {
  .name, .email {
  	width: 100%;
  	float: none;
  }
}
