---
---

@import "bootstrap";
// Fonts
  $body-font: 'Martel', serif;
  $title-font: 'Roboto', sans-serif;
  $title2-font: 'Couture', sans-serif;

// Colors
  $body-color: #959595;
  $black: #4c4c4c;
  $button2-color: #8d8d8d;
  $form-color: #dcdcdc;

.cover-image {
  margin-top: -100px;
  height: 550px;
  overflow: hidden;
  }



.post-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: $black !important;
  line-height: -20px;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
}

.related-post {
    padding: 15px;
    margin:0 auto;
    display: inline;
    margin: auto;
    text-align: center;
}

.rel {
    width: 200px;
    display: inline-block;
    padding: 5px;
    opacity: 0.8;
}

.rel hover {
     opacity: 1;
}

//  IN BLOG POST IMAGES FORMATTING
.blog-image-1 {
width: 90%;
margin: auto;
}

.blog-image-2 {

}
.blog-image-3 {

}

.blog-content {
  width: 70%;
  margin: 0 auto;
}
 .row {
   width: 100%;
   padding: 50px;
 }


.container2 {
  width: 100%;
  height: 500px;
  margin: 0;
  overflow: hidden;

}
.container2 img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.fixed-image {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  border: 0;
}

.header {
background: url('../../pics/1.jpg') no-repeat center bottom;
-webkit-background-size: cover;
-moz-background-size: cover;
height: 550px;
box-shadow: 0px 0px 60px #6d6d6d;
margin-top: -100px;
}

.start-here {
  font-family: $body-font;
  font-size: 16px;
  line-height: 15pt;
  color: $body-color;
  width: 800px;
  padding: 50px;
  margin: auto;
  text-align: center;
}
.start-here p {
  font-style: italic;
}

h1 {
  font-family: $title2-font !important;
  font-size: 30pt;
  color: $black !important;
  text-align: center;
}

.blog {
  text-align: center;
  margin: auto;
  width: 70%;
}

h2 > a {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: $black !important;
  line-height: -20px;
  font-size: 44px;
  text-transform: uppercase;
    &:hover {
      font-weight: bold;
      text-decoration: none;
    }
}

.subtitle {
  margin-top: -15px;
}


.subity {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 22px;
  color: #636363;
  text-align: center;
}

img {
   width: 100%;
}

p {
  font-family: 'Myriad Pro', sans-serif;
  color: #262626;
  font-size: 20px;
}
