---
---

@import "default";

// HEADER

body {
  background: rgb(230,230,230); /* Old browsers */
background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  background-attachment: fixed;
}

.container-fluid {
	width: 100%;
	margin: 0 auto;
	padding: 0px;

}

.container {
	width: 95% !important;
	max-width: 1280px;
}

.post {
  padding: 0 10px 10px 10px;
}

.header {
	margin: 0 auto;
	width: 100%;
	height: 60vh;
	background: url("{{ site.baseurl }}/assets/images/4.jpg") no-repeat;
	background-position: center bottom;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
.caption {
	max-width: 60%;
	text-align: center;
	h1 {
		font-family: "Roboto", sans-serif;
		font-size: 25pt;
		text-align: center;
		letter-spacing: 2px;
		color: white;
    text-transform: uppercase;

	}
	h2 {
		font-family: "Roboto", serif;
		text-transform: uppercase;
		font-size: 16pt;
		color: white;
	}
}

}



.col-sm-9 {
	padding: 0 !important;
}

// Article Thumbnails
.content {
	width: 100%;
	margin: 0;
  // text-align: center;

  .container {
		width: 100% !important;
		padding: 20px;
		padding-bottom: 0;
		margin: 0 auto;
	}

	.col-sm-6 {
		// background-color: white;
    padding-left: 15px !important;
		padding-right: 15px !important;

	}

  .col-xs-12, .col-sm-12, .col-md-6, .col-lg-6, .col-xl-4 {
    padding-bottom: 30px !important;
  }

	.col-md-12 {
		background-color: white;
		margin: 0 !important;
		padding: 0 !important;
		height: 100%;
	}



	.row{
	    overflow: hidden;
			margin-bottom: 30px;
	}


	h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 100;
    color: $black;
    font-size: 28pt;
    line-height: 29px;
		padding: 5px;
		padding-bottom: 0;
    }
  h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    color: $black;
    line-height: -10px;
    font-size: 12pt;
    margin: 0px 10px 0 10px;

  }
  p {
    font-family: 'Avenir', sans-serif;
    color: $black;
    font-size: 15pt;
    line-height: 22pt;
    padding: 10px;
  }
}
// @media (min-width:768px) {
// 	.image {
// 		height: 210px;
// 	}
// }
//
// @media (min-width:1024px) {
// 	.image {
// 		height: 250px;
// 	}
// }

.image {
	position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  height: 250px;
  background: #c0c0c0;
  cursor: pointer;



	// &:before,
	// 	&:after {
	// 		position: absolute;
	// 		left: 10%;
	// 		content: '';
	// 		display: block;
	// 		height: $bar-height;
	// 		z-index: 0;
	// 	}
	//
	// 	&:before {
	// 		top: 25%;
	// 		border-bottom: $bar-height solid $bar-color;
	// 		border-top: $bar-height solid $bar-color;
	// 		padding-top: $bar-height * 0.5;
	// 		width: 80%;
	// 	}
	//
	// 	&:after {
	// 		top: calc(25% + ($bar-height * 5));
	// 		background: $bar-color;
	// 		color: $bar-color;
	// 		width: 55%;
	// 		content: $bar-text;
	// 		font-weight: bold;
	// 		font-size: $bar-height;
	// 		text-transform: uppercase;
	// 		padding: 0 $bar-height/2;
	// 	}
	img {
		width: 100%;
		height: 100%;
	}
}

.sort {
    margin: 15px 0 5px 0 !important;

	h2 {
		font-family: 'Couture', sans-serif;
		font-weight: 900;
		text-align: left;
		font-size: 14pt;
		letter-spacing: 0;
		margin-left: 0 !important;
    color: $body-color !important;

	}

	.fa {
		font-size: 12pt;
		line-height: 12pt;
		vertical-align: middle;
	}
}

.pager li > a {
	font-family: 'Couture', sans-serif;
	// letter-spacing: 2px;
	border-radius: 0 !important;
	border: 0 !important;
	background: transparent !important;
	text-transform: uppercase;
	color: #b0b0b0;
  font-size: 16pt;

	.fa {
		font-size: 12pt;
		padding-left: 7px;
		padding-right: 7px;
		vertical-align: middle;
	}
}
