---
---
@import "bootstrap";

/// Website standards //

// Fonts
  $body-font: 'Martel', serif;
  $title-font: 'Roboto', sans-serif;
  $title2-font: 'Roboto', sans-serif;

// Colors
  $body-color: #959595;
  $black: #4c4c4c;
  $button2-color: #8d8d8d;
  $form-color: #dcdcdc;


// Wander Page CSS

.wander-cover {
  background: url('{{ site.baseurl}}/assets/images/1.jpg') no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 300px;
  margin-top: -100px;
}
.wander-title h1 {
  font-family: $title-font;
  font-weight: bold;
  font-size: 44pt;
  color: $black !important;
  text-align: center;
  line-height: 15pt;
  padding-top: 45px;
  padding-bottom: 35px;
  width: 70%;
  margin: auto;
}
.wander-title p {
  font-family: $body-font;
  color: $body-color;
  font-style: italic;
  font-size: 18px;
  line-height: 15pt;
  padding-top: 0px;
  padding-bottom: 30px;
  width: 60%;
  margin: auto;
  text-align: center;
}
.wander-body {
  text-align: center;
  margin: auto;
  width: 75%;
}
.wander-article {
  padding-bottom:40px;
  opacity:0.9;
  &:hover {
    opacity:1;
  }
}
a {
  display: block;
 &:hover {
   text-decoration: none !important;
 }
}
.wander-image2 {
  overflow:hidden;
  width:100%;
  height:600px;
}
.wander-blurb > h2 {
  font-family: $title-font;
  font-weight: 100;
  color: $black !important;
  line-height: -20px ;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}
.wander-blurb > h3 {
  font-family: $body-font;
  font-weight: 100;
  color: $black !important;
  line-height: -20px;
  font-size: 24px;
  text-align: center;
  padding-top: 0px;
  margin-top: 5px;
}
.wander-blurb > p {
  font-family: $body-font;
  font-weight: 100;
  color: $black !important;
  line-height: -20px;
  font-size: 18px;
  text-align: center;
  padding-bottom: 30px;
}
ul {
  list-style-type: none;
}
.pager {
  width: 75%;
  margin: auto;
  padding-bottom: 40px;
}
.pager li > a {
  background-color: #282828;
  border-radius: 5;
  font-size: 16pt;
  color: rgba(255,255,255,0.7);
  font-family: $title-font;
  font-weight: bold;
  padding: 5px 15px;
  text-transform: capitalize;
  &:hover {
    color:white;
    background: #282828;
    }
}
.fa-chevron-right {
  padding-left: 5px;
  padding-right: 0px;
  color: rgba(255,255,255,0.7);
  font-size: 14pt;
  &:hover {
    color: white;
    }
}
.fa-chevron-left {
  padding-left: 0px;
  padding-right: 5px;
  color: rgba(255,255,255,0.7);
  font-size: 14pt;
  &:hover {
    color: white;
    }
}



// Blog Layout CSS
.cover {
  margin-top: -100px;
  overflow: hidden;
  }
.cover-image {
  width:100%;
  height:100%;
}
.post-title {
  font-family: $title-font;
  font-weight: 100;
  color: $black !important;
  line-height: -20px ;
  font-size: 52px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}
.post-subtitle {
  font-family: $body-font;
  font-weight: 100;
  color: $black !important;
  line-height: -20px;
  font-size: 26px;
  text-align: center;
  padding-top: 0px;
  margin-top: 15px;
}

.bottomwrapper {
  width: 100%;
  height: 60px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;

  .col-md-4 {
    padding: 0 !important;
    height: 60px !important;
  }

  h1 {
    font-family: $title-font !important;
    text-align: center;
    font-size: 36pt !important;
    text-transform:uppercase !important;
    color: $black !important;
    margin: 0 !important;
    margin-top: 4px;
  }
}
.share {
  text-align: left;
}

.row {
  width: 100%;
  padding: 50px;
}
.share-fa {
  color: $black !important;
  padding-right: 15px;
}



.related{
  h1 {
    font-family: $title-font !important;
    text-align:center;
    font-size: 36pt !important;
    text-transform:uppercase !important;
    color: $black !important;
    padding-bottom: 20px;
  }
  h2 {
    font-family: $title-font !important;
    font-weight: 100;
    text-align:center;
    font-size: 28pt !important;
    text-transform:uppercase !important;
    margin-bottom: -10px;
    color: $black !important;
  a, a:active, a:visited {
    color: $black !important;
    }
  }
  h3 {
    font-family: $body-font;
    font-weight: 100;
    color: $black !important;
    line-height: -20px;
    font-size: 18pt;
    text-align: center;
    padding-top: 0px;
    margin-top: 15px;
  }
}
.related-img {
  height: 400px;
  width: 600px;
  padding: 10px;
}
.related-thumb {
  text-align: center;
  margin-bottom: 40px;
}


// Content Specific CSS
.blog-content {
  width: 70%;
  margin: 0 auto;
  font-family: $body-font;
  font-size: 16pt;
  color: black;
  padding-top:20px;
  text-indent: 50px;
}
.image-template {
width: 90%;
margin: auto;
}
.blog-img {
  padding-top:15px;
  width: 100%;
  height: 100%;
}




// UNKNOWN CSS
h1 {
  font-family: $title2-font !important;
  font-size: 30pt;
  color: $black !important;
  text-align: center;
}
p {
  font-family: 'Myriad Pro', sans-serif;
  color: #262626;
  font-size: 20px;
}
