---
layout: home
---

<!-- HEADER & NAVBAR -->
<div class="header">
  <div class="logo">
    <h3>Work and Wander</h3>
      <h1>Around the world</h1>

      <br><br>

    <h2>With numerous resources for adventurous jobseekers,</h2>
      <h2>Wayfaring Worker is the place for you.</h2>

      <br><br>

      <a href="{{ site.baseurl }}/about">
      <button type="submit" class="submit btn btn-primary btn-large getstarted">Get Started</button>
      </a>

  </div>
</div>

<div class="email-container">
  <div class="email-full">
    <h2>Subscribe and stay updated with Wayfaring Worker.</h2>
    <p> You'll never be spammed and you'll get monthly updates on jobs, articles and blog posts. </p>
      <div class="container-fluid form-container">
        <form class="ajax-form" method="POST" action="http://formspree.io/fisherankney@gmail.com">
          <div class="row">
            <div class="col-sm-9">
              <input type="text" class="email" name="email" placeholder="Your email address">
            </div>
            <div class="col-sm-3">
              <button type="submit" class="submit btn btn-primary btn-large start">Submit</button>
            </div>
          </div>
        </div>
      </form>
    <div class="form-thank-you">
      <h3>Thanks for Subscribing!</h3>
    </div>
  </div>
</div>

<!-- Top Articles -->
<h1>Popular Posts</h1>
<div class="container content">
<div class="top">
<div class="row">

  <div class="col-sm-4">
    <div class="image">
      <img src="{{ site.baseurl }}/assets/images/hk_5_things_cover.jpg">
      <div class="overlay">
      <div class="caption">
        <div class="maincaption">
         <h1>5 Things to do in Hong Kong </h1>
        </div>
        <div class="subcaption">
         <h2>This post is in progress. In the meantime, please explore other sections of the website!</h2>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="image">
      <img src="{{ site.baseurl }}/assets/images/thai_mhs_cover.jpg">
      <div class="overlay">
      <div class="caption">
        <div class="maincaption">
         <h1>Adventure Travel - The MHS Loop</h1>
        </div>
        <div class="subcaption">
         <h2>The Mae Hong Son Loop</h2>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="image">
      <img src="{{ site.baseurl }}/assets/images/coming_soon.jpg">
      <div class="overlay">
      <div class="caption">
        <div class="maincaption">
         <h1></h1>
        </div>
        <div class="subcaption">
         <h2></h2>
        </div>
      </div>
    </div>
    </div>
  </div>


</div>
</div>






<!-- Work Links -->

<h1> Adventurous Work </h1>

<div class="work">
  <div class="container">
        <div class="row">
          <div class="col-xs-18 col-sm-6 col-md-6">
            <a href="#">
              <div class="thumbnail">
              <div class="image">
              <img class="img-responsive" src="{{ site.baseurl }}/assets/images/coming_soon.jpg">
              <div class="overlay">
                <div class="caption">
                <h1></h1>
              </div>
            </div>
              </div>
                  <p>This article is in progress. Please check back in the future for informative articles on how to work adventerous jobs abroad.</p>
            </div>
          </a>
            </div>

          <div class="col-xs-18 col-sm-6 col-md-6">
            <a href="#">
              <div class="thumbnail">
              <div class="image">
              <img class="img-responsive" src="{{ site.baseurl }}/assets/images/coming_soon.jpg">
              <div class="overlay">
                <div class="caption">
                <h1></h1>
              </div>
            </div>
              </div>
                <p>This article is in progress. Please check back in the future for informative articles on how to work adventerous jobs abroad.</p>
            </div>
          </a>
          </div>

</div>
<div class="row">

          <div class="col-xs-18 col-sm-6 col-md-6">
            <a href="#">
              <div class="thumbnail">
              <div class="image">
              <img class="img-responsive" src="{{ site.baseurl }}/assets/images/coming_soon.jpg">
                <div class="overlay">
                  <div class="caption">
                  <h1></h1>
                </div>
              </div>
              </div>
                <p>This article is in progress. Please check back in the future for informative articles on how to work adventerous jobs abroad.</p>   
            </div>
          </a>
          </div>

          <div class="col-xs-18 col-sm-6 col-md-6">
            <a href="#">
            <div class="thumbnail">
              <div class="image">
              <img class="img-responsive" src="{{ site.baseurl }}/assets/images/coming_soon.jpg">
              <div class="overlay">
                <div class="caption">
                <h1></h1>
              </div>
            </div>
              </div>
               <p>This article is in progress. Please check back in the future for informative articles on how to work adventerous jobs abroad.</p>
            </div>
          </a>
          </div>



    </div><!--/row-->
  </div><!--/container -->
</div>


<!-- BLOG -->
<div class="wander">
<h1>From the Blog</h1>
<div class="container">
  <div class="featured">
  <div class="row match">
    {% for post in site.posts limit:3 %}

<a href="{{ post.url }}">
   <div class="col-sm-4">
     <div data-mh="match" class="col-md-12">
     <div data-mh="match" class="thumbnail">
          <img class="img-responsive" src= "{{  site.baseurl }}/{{ post.cover }}">
           <div class="article-blurb">
             <h2>{{ post.title }}</h2>
             <h3> {{ post.author }} // {{ post.date | date: '%B %d, %Y' }}</h3>
             <p> {{ post.excerpt }} </p>
           </div>
         </div>
       </div>
       </div>
       </a>
         {% endfor %}

  </div>
</div>

<div class="row match">
{% for post in site.posts limit:3 offset:3 %}

  <a href="{{ post.url }}">
   <div class="col-sm-4">
     <div data-mh="match" class="col-md-12">
     <div data-mh="match" class="thumbnail">
          <img class="img-responsive" src= "{{  site.baseurl }}/{{ post.cover }}">
           <div class="article-blurb">
             <h2>{{ post.title }}</h2>
             <h3> {{ post.author }} // {{ post.date | date: '%B %d, %Y' }}</h3>
             <p> {{ post.excerpt }} </p>
           </div>
         </div>
       </div>
       </div>
       </a>

    {% endfor %}
         </div>
       </div>
</div>
</div>
</div>

<script type="text/javascript">
$(function() {
 $(".match").matchHeight();
});
</script>
</body>
