---
---
<head>
  <!-- CSS -->
    <link rel="stylesheet" href="sass/page.css">
  <!-- FONTS -->
    <link href='../fonts/Roboto-Thin.ttf' rel='stylesheet' type='text/css'>
    <link href='../fonts/couture-bld.ttf' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Martel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">  <link href='../fonts/couture-bld.ttf' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Martel" rel="stylesheet">
  <!-- JAVASCRIPT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type="text/javascript" src="/javascript/slider.js"></script>
</head>

<body>
<div class="header">
  {% include navbar.html %}
</div>
<div class="start-here">
<p>Wayfaring Worker is dedicated today to bringing you the latest quality resources on travel, jobs abroad and activities that can help you get out of your comfort zone and lead the life of adventure you’ve always dreamed of.</p>

<form><button type="button" class="btn btn-default">Start Here</button>
  <input type="text" name="email" placeholder="Enter your email for updates"><button type="submit">Subscribe</button></form>

</div>


<!-- Carousel -->
{% include slider.html %}

<h1>From the Blog</h1>
<div class="blog">
  <img src="https://s-media-cache-ak0.pinimg.com/originals/d3/c4/2a/d3c42a5fafa640f90c4c3746f9fb2c22.jpg">
  <h2> 30 Days in Thailand</h2>
  <div id="subtitle"><h3>Fisher Ankney // January 14th, 2017</h3></div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
</body>
