<div class="footer">
  <div class="row top">
    <div class="col-sm-4">
      <h3>Follow</h3>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h3>Search</h3>
    </div>
  </div>
  <div class="row icons">
    <div class="col-sm-4">
    <a href="http://www.facebook.com/Wayfaring-Worker-899572923513508/"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a>
    <a href="http://www.twitter.com/wayfaringworker"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
    <a href="http://www.instagram.com/wayfaringworker/"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
    <a href="http://www.youtube.com/users/wayfaringworker"><i class="fa fa-youtube fa-4x" aria-hidden="true"></i></a>
    </div>
    <div class="col-sm-4">
    </div>

    <div class="col-sm-4">
      <form action="/search.html" method="get">
        <input type="text" id="search_box" name="query" class="searchform">
        <button type="submit"  value="search" class="searchclk fa fa-search fa-2x" aria-hidden="true"></button>
      </form>
    </div>

  </div>
  <div class="copyright"><p>Wayfaring Worker (c) 2017. All rights reserved and other things.</p>
</div>
</div>
