<script src="{{ site.baseurl }}/assets/javascript/jquery.matchHeight.js"> </script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascript/instafeed.js"></script>



<div class="footer">
  <div class="row">

    <div class="col-xs-12 col-sm-2 instagram">
      <div class="row">
        <div class="col-xs-12">
          <h3>Instagram</h3>
        </div>
      </div>
      <div class="row">
        <div data-mh="matchfoot" class="col-md-12">
      <div id="instafoot" class="insta"></div>
    </div>
      </div>
      </div>


    <div class="col-xs-12 col-sm-3 col-sm-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h3>Youtube</h3>
        </div>
      </div>
      <div data-mh="matchfoot" class="videoWrapper youtube">
      <iframe src="https://www.youtube.com/embed/4sIEUmmTn0k" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>





  <div class="col-xs-12 col-sm-4 col-sm-offset-2">
    <div class="row">
      <div class="col-xs-12">
        <h3>Search</h3>
      </div>
    </div>
    <div data-mh="matchfoot" class="row">



    <div class="col-xs-10">
      <form action="/search.html" method="get">
        <input type="text" id="search_box" name="query" class="searchform">
    </div>

    <div class="col-xs-2">
      <button type="submit"  value="search" class="searchclk fa fa-search" aria-hidden="true"></button>
    </form>
  </div>


  </div>
</div>
</div>
<div class="row copyright"><p> This website and its content are copyright © 2017 Wayfaring Worker</p>
</div>
</div>




{% raw %}
<script type="text/javascript">
// Instafeed


    var instafootFeed = new Instafeed({
        target: 'instafoot',
        get: 'user',
        userId: 2119921924,
        accessToken: '2119921924.1677ed0.3fb302ea0aaf4054baf29563ddabb2ac',
        limit: 4,
        template: '<div class="col-xs-6 col-sm-6 col-md-6"><a href="{{link}}"><img src="{{image}}" /></a></div>',
    });

    instafootFeed.run();

// Match Height
    $(function() {
     $(".matchfoot").matchHeight();
    });


</script>
{% endraw %}
