<head>
<link rel="stylesheet" href="{{ site.baseurl }}/sass/navbar.css">
<link href='{{ site.baseurl }}/fonts/couture-bld.ttf' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/javascript/navbar.js"></script>
</head>

 
        <nav id="header" class="navbar navbar-fixed-top navbar-custom">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">

                    <a id="brand" class="navbar-brand" href="{{ site.baseurl }}/">WW</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/work/">Work</a></li>
                        <li><a href="/wander/">Wander</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
