<head>
<link rel="stylesheet" href="{{site.baseurl}}/sass/slider.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascript/slider.js"></script>
</head>

<div class='g-carousel'>
    <a class='prev' href='#'><</a>
    <a class='next' href='#'>></a>
    <ul class='carousel'>
      <li>
        <img src='http://i.imgur.com/pAbcoeM.jpg'>
      </li>
      <li>
        <img src='http://truth-saves.com/images/natural-beauty.jpg'>
      </li>
      <li>
        <img src='http://i.imgur.com/ufOf6ri.jpg'>
      </li>
      <li>
        <img src='https://i.reddituploads.com/c27eb88e9121485d82a5886d40932723?fit=max&h=1536&w=1536&s=ddbe71ce1c50ddd570c9c2d68b46c126'>
      </li>
      <li>
        <img src='https://i.redditmedia.com/JrgBbwCyFdaMfmo_S0f1P_ZVwBJfyDn-AleQkW3akzU.jpg?w=1024&s=a3bc80e9b52ffe6503f3eff356029d91'>
      </li>
      <li>
        <img src='https://i.redditmedia.com/Q-uz_waYoWbSIwVCLujktQXXmmn5FsQzf7KctaLAaMI.jpg?w=1024&s=fa9a758fbcace7981a8db48ae1b8766b'>
      </li>

    </ul>
</div>
