---
---
<!DOCTYPE HTML>
<!-- Probably best to put all of this in a layout specified for the blog  -->
<head>
  <!-- css -->
<link rel="stylesheet" href="{{ site.baseurl }}/sass/navbar.css">
<link rel="stylesheet" href="{{ site.baseurl }}/sass/wander.css">
<link rel="stylesheet" href="{{ site.baseurl }}/sass/footer.css">
<!-- javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/javascript/navbar.js"></script>
<!-- fonts -->
<link href='{{ site.baseurl }}/fonts/couture-bld.ttf' rel='stylesheet' type='text/css'>
<link href='{{ site.baseurl }}/fonts/Roboto-Thin.ttf' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Martel" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<html lang="en-US">

<body>

{% include navbar.html %}

<div class="wander-cover">
</div>
<div class="wander-title">
<h1> Wander </h1>
  <p> Follow the Wanderings of Wayfaring Workers through posts on this blog. Adventure, Travel, etc etc buzzwords inspirational travel jobs wow, so looks so cool, and the words and stuff arn't bad either. You can do this too! all you have to do is pay $9.99! wow, what a deal!</p>
  <p> Sort: Reverse Chronological  </p>
</div>
<br>

<div class="wander-body">
  <ul>
    {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url }}">
        <div class="wander-article">
          <div class="wander-image">
          <img src= "{{  site.baseurl }}/{{ post.image }}">
           </div>
           <div class="wander-blurb">
             <h2>{{ post.title }}</h2>
             <h3> {{ post.author }} // {{ post.date | date: '%B %d, %Y' }}</h3>
             <p> {{ post.excerpt }} </p>
           </div>
         </div>
       </a>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>




{% include footer.html %}

</body>
