---
---
<!DOCTYPE HTML>
<html lang="en-US">

<head>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/sass/navbar.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/sass/footer.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascript/navbar.js"></script>
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Martel" rel="stylesheet">
<link href='{{site.baseurl}}/assets/fonts/Roboto-Thin.ttf' rel='stylesheet' type='text/css'>
<link href='{{ site.baseurl }}/assets/fonts/couture-bld.ttf' rel='stylesheet' type='text/css'>
</head>

<body>
{% include navbar.html %}

{{ content }}

{% include footer.html %}
</body>
